@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blinkCaret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

@keyframes deleting {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

.typing {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid black;
  animation: blinkCaret 0.75s step-end infinite;
}

.slide-in-down {
  animation: slide-in-down 0.5s ease-out;
}

@keyframes slide-in-down {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
